.item-container{
    width: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    box-sizing: border-box;
    font-family: 'Nunito';
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4vw;
    background-color: #ffd56c4d;
    border-radius: 50%;
}

.item-icon{
    width: 2vw;
    height: 2vw;
}

.item-container span{
    font-size: 1.5vw;
    font-weight: 600;
    color: #ffd56c;
}