.highcharts-button-box, .highcharts-button-symbol, .highcharts-title, .highcharts-legend-item, .highcharts-credits{
    display: none
}

#highcharts-n4ngd0k-70{
    height: 100vh;
    box-sizing: border-box;
}
