.log-in-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("../../assets/images/login/background.png");

    h1{
        font-size: 40px;
        font-weight: 900;
        margin: 0;
    }

    p{
        font-size: 20px;
    }

    .navigate-button{
        padding: 1vw 5vw;
        border-radius: 2vw;
        border: #fff 0.1vw solid;
        background-color: transparent;
        font-family: 'Nunito';
        color: #fff;
        font-size: 1vw;
        font-weight: 700;
        transition: background-color 0.2s ease-in-out;
    }

    .navigate-button:hover{
        background-color: #ffffff1f;
        cursor: pointer;
    }


   
}



.log-in-page .welcome-back-section{
    position: relative;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.log-in-page .welcome-back-section .content{
    justify-self: center;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}



.log-in-page .welcome-back-section img {
    position: absolute;
    width: 12vw;
    top: 2vw;
    left: 2vw;
}

.log-in-form{
    width: 60vw;
    height: 100vh;
    background-color: #fff;
    padding: 5vw 15vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;

    h1{
        color: #3CB29C;
        text-align: center;
    }
}

.log-in-form .form-input{
    display: flex;
    flex-direction: column;
    gap: 2vw;

    p {
        font-size: 12px;
        font-style: italic;
    }
}

.submit-button{
    width: 100%;
    padding: 0.6vw 5vw;
    border-radius: 2vw;
    border: none;
    background-color: #3CB29C;
    font-family: 'Nunito';
    color: #fff;
    font-size: 1vw;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out;
    margin-top: 2vw;
}

.submit-button:hover{
    background-color: #31917f;
    cursor: pointer;
}

.log-in-error{
    font-size: 12px !important;
    font-style: italic;
    color: red;
}